:root {
    --body-bg-color-1: #eee; 
    --main-box: white;
    --all-font-color: rgb(0, 0, 0); 
    --submit-bg-color: #67E6DC;
    --content-font-family: 'Merriweather', serif;
    --heading-font-size: 32px;
    --content-font-size: 16px;
    --heading-font-family: 'Source Sans Pro', sans-serif; 
    --content-margin-bottom: 24px;
    --font-weight: bold;
    --all-padding: 8px;
    --transition-font-size: 20px;
    --transition-timer: all 0.5s;
}
body
{
    background-color: var(--body-bg-color-1);

}
.totalbox
{
    border: 1px solid var(--body-bg-color-1);
    width: 340px;
    height: 430px;
    text-align: center;
    margin: auto;
    margin-top: 24px;
    background-color: var(--main-box);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.signin
{
    font-size: var(--heading-font-size);
    text-align: center;
    color: black;
    font-family: var(--heading-font-family);
    margin-bottom: var(--content-margin-bottom);
    font-weight: var(--font-weight);
    font-family: var(--heading-font-family);
    color: var(--all-font-color);
    margin-top: -16px;
}
.userid
{
    display: flex;
    margin-left: 40px;
}

.userid input
{
    background-color: white;
    padding;: var(--all-padding);
    margin-left: 8px;
    margin-bottom: var(--content-margin-bottom);
    width: 80%;
    border-width: 0;
    border-bottom: 2px solid black;
    font-family: var(--content-font-family);
    font-size: var(--content-font-size);  
    font-weight: var(--font-weight); 
    color: var(--all-font-color);
}
.userid input:hover
{
    font-size: var(--transition-font-size);
    transition: var(--transition-timer);
    cursor: pointer;
}
.password
{
    display: flex;
    margin-left: 40px;
}
.password input
{
    background-color: white;
    padding;: var(--all-padding);
    margin-left: 8px;
    margin-bottom: var(--content-margin-bottom);
    width: 81%;
    border-width: 0;
    border-bottom: 2px solid black;
    font-family: var(--content-font-family);
    font-size: var(--content-font-size);  
    font-weight: var(--font-weight); 
    color: var(--all-font-color);
}
.password input:hover
{
    font-size: var(--transition-font-size);
    transition: var(--transition-timer);
    cursor: pointer;
}
.checkbox
{
    margin-bottom: var(--content-margin-bottom);
    font-family: var(--content-font-family);
    font-size: var(--content-font-size);
    font-weight: var(--font-weight);
    color: var(--all-font-color);
}
.checkbox:hover
{
    font-size: var(--transition-font-size);
    transition: var(--transition-timer);
}
.submit button
{
    color: var(--submit-font-color);
    font-family: var(--content-font-family);
    background: var(--submit-bg-color);
    width:80%;
    padding: var(--all-padding);
    border-radius:24px;
    border-width: 0;
    margin: auto;
    margin-bottom: var(--content-margin-bottom);
    font-weight: bold;
    font-size: var(--content-font-size); 
    font-weight: var(--font-weight);
    color: var(--all-font-color);
}
.submit button:hover
{
    font-size: var(--transition-font-size);
    transition: var(--transition-timer);
    cursor: pointer;
}
.forgetpassword
{
    font-family: var(--content-font-family);
    font-size: var(--content-font-size); 
    text-align: center;
    margin-bottom: var(--content-margin-bottom);
    font-weight: var(--font-weight);
    color: var(--all-font-color);
}